﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>A Sample Application to add and view a list of customers</p>
<p>A customer is required to have a First name, Last name and email address. The email address must be valid, and validation messages must be shown.
    <br />
    A customer can also have a date of birth, which will be used along with the customer name to create a customer code.
    <br />
    The list of customers should include only the 5 oldest customers and display Full Name, Email, DOB and CustCode. The 5 customers displayed should be ordered by the customers last name.
    <br />
</p>
<p>The requirements could have been satisfied just with the data objects and linq directory in the controller, but given the assumption that it was an enterprise application
    I decided it best to separate out the concerns using a viewmodel and repository pattern. It's fairly overkill for the size of the actual app, but it does make extensibility and testing easier,
    and I just get uneasy when I see LINQ in a controller.
    If for example it was decided to write to local file instead, then that's just a matter of creating a new ICustomerRepository that handles that and injecting it into the service during startup
    instead of the current implementation.
</p>
<p>
    Speaking of implementation, I went with a SQL Server implementation. Again overkill, but it showed how we could use a proper database with configuration for different environments possible,
    and the ability to switch it out with an in memory database for testing of the repository and functional tests. The developer connection string is configured in appsettings.Development.json,
    and can be set using environment variables for other servers in the CI/CD pipeline used.
    <br />
    The database has been created with migrations turned on. The migrations will occur automatically when run in a development environment, but would need to be explicity executed prior to building
    after release to a new environment as part of the CI/CD pipeline.
</p>
<p>
    Testing includes unit tests for Controller, Repository, ViewModel and Entity classes. It also includes a small number of example integration tests (i.e., controller calling the real repository but 
    the repository uses the inmemory db rather than real db). There's also a couple of basic functional tests that execute the test as an actual webpage and returns a result, although it uses an 
    in memory db with initialised data.
    
</p>
<p> I've assumed that Fullname is First Name and then Last Name separated by a space. I've assumed that 'Successful saving is reported
    to the user' is satisfied by redirecting the the details page for the saved customer on sucessful save, and that the field validation messages make it clear when saving fails.
    <br/>
    I've also assumed that 'oldest' means based on their date of birth, as against oldest record age. Someone without a date of birth is excluded from the list of oldest customers. Someone
    without a date of birth gets '00000000' appended to their customer code.
</p>
<p>
    For UI I just scaffolded the pages with minimal changes, as there wasn't a focus on the UI code.
</p>