﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    46 Stringybark Drv<br />
    Brown Hill, Vic, 3350<br />
    <abbr title="Mobile Phone">M:</abbr>
    0409 792 830
    <abbr title="Home Phone">H:</abbr>
    03 5334 8119
</address>

<address>
    <strong>Email:</strong> <a href="mailto:bjsaust@gmail.com">bjsaust@gmail.com</a><br />
</address>
