﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Application</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Customers</h2>
        <ul>
            <li><a asp-controller="Customers" asp-action="Create">Create a new Customer</a> </li>
            <li><a asp-controller="Customers"  asp-action="Oldest">View list of 5 oldest customers</a> </li>
            <li><a asp-controller="Customers"  asp-action="Index">View list of all customers</a> </li>
        </ul>
    </div>
    
</div>
