﻿@model Sample.WebApp.Models.CustomerVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>


<div>
    <p>
        <a asp-action="Create"><button class="btn btn-primary">Create New</button></a>
    </p>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><button class="btn btn-primary">Back to List</button></a>
</div>
